<li>
  <h3>{{ student?.firstName }} {{ student?.lastName }}</h3>
  <span style="display: block">id: {{ student?.id }}</span>
  <span style="display: block">phone: {{ student?.phone }}</span>
  <span style="display: block">address: {{ student?.address }}</span>
  <span style="display: block">email: {{ student?.email }}</span>
  <span style="display: block">is active: {{ student?.active }}</span>
  @if(student?.active==false) {
   <span style="display: block">leaving date: {{ student?.leavingDate }}</span>
  }
  <button (click)="delete()">delete</button>
  <button (click)="edit()">edit</button>
</li>
